<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Puppet ENC</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../static/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

{% include nav.html %}
            {% set myclass=allclass.copy() %}
            {% for classgroup in myclass %}
                {% if len(myclass[classgroup]) == 1 %}
                    {%  set loser=allclass.pop(classgroup) %}
                {% end %}
            {% end %}
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Puppet模块 <a class="" data-toggle="modal" data-target="#addModule"><i class="fa fa-plus"></i></a></h1>
                    <div class="modal fade" id="addModule" tabindex="-1" role="dialog" aria-labelledby="addModuleLabel" aria-hidden="true">
                         <div class="modal-dialog">
                              <div class="modal-content">
                                   <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title" id="addModuleLabel">新增模块</h4>
                                        </div>
                                        <form role="form" id="addnodeform" method="post" action="/api/add_module">
                                            <div class="modal-body">
                                                <div class="form-group">
                                                    <label>模块名</label>
                                                    <input class="form-control" name="classname">
                                                </div>
                                                <div class="form-group">
                                                    <label>模块组</label>
                                                    <select class="form-control" name="class_group">
                                                        <option>nogroup</option>
                                                        {% for myclassgroup in allclass %}
                                                        <option>{{ myclassgroup }}</option>
                                                        {% end %}
                                                    </select>
                                                </div>
                                             </div>
                                             <div class="modal-footer">
					                             <input type="submit" class="btn btn-primary" value="提交">
					                         </div>
                                        </form>
                              </div>
                                    <!-- /.modal-content -->
                         </div>
                                <!-- /.modal-dialog -->
                      </div> 
                </div>
                <!-- /.col-lg-12 -->
            </div>

            <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Puppet模块组列表
                        </div>
                        <div class="panel-body ">
                                {% for classgroup in allclass%}
                                <div class="col-lg-2" >
                                <h4>{{ classgroup }}</h4>
                                <ul>
                                    {% for classname in allclass[classgroup] %}
                                    <li>{{ classname }}</li>
                                    {% end %}
                                </ul>
                                </div>
                                {% end %}
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
            </div>
            <!-- /.row -->
            {%set i=1 %}
            {% if len(classes)%4 > 0  %}
                {% set count4=len(classes)/4+1 %}
            {% else %}
                {% set count4=len(classes)/4 %}
            {% end %}
            <div class="col-lg-3" >
            {% while i <= count4 %}
                {% set node_group=classes.popitem() %}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                {{ node_group[0] }}
                            </div>
                            <div class="panel-body">
                                <h4>模块列表</h4>
                                <ul>
                                    {% for class_group in node_group[1] %}
                                    <li>{{ class_group.keys()[0] }}
                                        <ul>
                                            {% for module in class_group.values()[0]%}
                                            <li>{{ module }}</li>
                                            {% end %}
                                        </ul>
                                    </li>
                                    {% end %}
                                </ul>
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    <!-- /.col-lg-4 -->
            {%  set i=i+1 %}
            {% end %}
            </div>
            {%set i=1 %}
            {% if len(classes)%3 > 0  %}
                {% set count3=len(classes)/3+1 %}
            {% else %}
                {% set count3=len(classes)/3 %}
            {% end %}


            <div class="col-lg-3" >
            {% while i <= count3 %}
                {% set node_group=classes.popitem() %}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                {{ node_group[0] }}
                            </div>
                            <div class="panel-body">
                                <h4>模块列表</h4>
                                <ul>
                                    {% for class_group in node_group[1] %}
                                    <li>{{ class_group.keys()[0] }}
                                        <ul>
                                            {% for module in class_group.values()[0]%}
                                            <li>{{ module }}</li>
                                            {% end %}
                                        </ul>
                                    </li>
                                    {% end %}
                                </ul>
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    <!-- /.col-lg-4 -->
            {%  set i=i+1 %}
            {% end %}
            </div>

            {%set i=1 %}
            {% if len(classes)%2 > 0  %}
                {% set count2=len(classes)/2+1 %}
            {% else %}
                {% set count2=len(classes)/2 %}
            {% end %}
            <div class="col-lg-3" >
            {% while i <= count2 %}
                {% set node_group=classes.popitem() %}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                {{ node_group[0] }}
                            </div>
                            <div class="panel-body">
                                <h4>模块列表</h4>
                                <ul>
                                    {% for class_group in node_group[1] %}
                                    <li>{{ class_group.keys()[0] }}
                                        <ul>
                                            {% for module in class_group.values()[0]%}
                                            <li>{{ module }}</li>
                                            {% end %}
                                        </ul>
                                    </li>
                                    {% end %}
                                </ul>
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    <!-- /.col-lg-4 -->
            {%  set i=i+1 %}
            {% end %}
            </div>

            {%set i=1 %}
            {% set count1=len(classes) %}
            <div class="col-lg-3" >
            {% while i <= count1 %}
                {% set node_group=classes.popitem() %}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                {{ node_group[0] }}
                            </div>
                            <div class="panel-body">
                                <h4>模块列表</h4>
                                <ul>
                                    {% for class_group in node_group[1] %}
                                    <li>{{ class_group.keys()[0] }}
                                        <ul>
                                            {% for module in class_group.values()[0]%}
                                            <li>{{ module }}</li>
                                            {% end %}
                                        </ul>
                                    </li>
                                    {% end %}
                                </ul>
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    <!-- /.col-lg-4 -->
            {%  set i=i+1 %}
            {% end %}
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../static/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../static/dist/js/sb-admin-2.js"></script>
</body>

</html>
